@import "./reset.css";

$black: #242424;
$white: #fefefe;

$screen-sm: "640px";
$screen-md: "768px";
$screen-lg: "1024px";
$screen-xl: "1280px";
$screen-2xl: "1536px";

$font-mono: 'Roboto', sans-serif;
$font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

body {
  font-family: $font-sans;
  font-size: 16px;
  background-image: url("../../public/natural-paper.png");
  background-color: $white;
  color: $black;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 2.75rem;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  place-content: center;
}


button {
  cursor: pointer;
}

.music-staff-container {
  width: 100%;

  .music-staff {
    width: auto;
  }
}

.note-playing {
  background: $black;
  color: $white;
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: flex;
  place-content: center;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;

  span {
    display: flex;
    align-items: center;
  }
}

.options {
  background-color: #eee;
  position: absolute;
  inset: 0;
  padding: 1rem;

  header {
    display: flex;
    align-items: center;
  
    h1 {
      flex-grow: 1;
      font-weight: 900;
      margin-bottom: 1.75rem;
    }
  }

  .option {
    background-color: $white;
    padding: 1rem;
    border-radius: 5px;
  
    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .button-group {
      display: flex;

      button {
        text-transform: uppercase;
        font-family: $font-mono;
        letter-spacing: 0.15rem;
        padding: 0.5rem 1.5rem;
        border-radius: 2px;
        border: 2px solid $black;
      }
    }
  }


}

.icon {
  font-size: 3.5rem;
  cursor: pointer;
}

.hidden {
  display: none;
  transition-duration: 5;
}

@media screen and (max-width: $screen-sm) {
  .music-staff-container {
  }
}